@code {

}

<div class="p-4 shadow-sm border flex justify-between items-center">
    <img src="./img/logo-header.png" class="header-logo" />
    <img src="./img/logo-header-light.png" class="header-logo-light" />

    <button class="flex items-center px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
        <span class="material-symbols-rounded">
            download
        </span>

        <span class="mx-1">Download</span>
    </button>
</div>