@inherits LayoutComponentBase


<!--
    min-height: 100vh;
    display flex / column
-->
<div class="min-h-screen flex flex-col">
    <Header />


    <!--
        flex: 1 1 0%;
    -->
    <main class="flex-1">
        @Body
    </main>


    <footer class="bg-red-200">Footer</footer>

</div>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

