@code {
    private int activeItem = 0;

    private void setActiveItem(int id)
    {
        activeItem = id;
    }
}

<!-- Full screen height -->
<div class="shadow-sm border h-screen">

    <div class="flex items-center gap-2 cursor-pointer hover:bg-bl-primary hover:text-white px-7
        @((activeItem == 0)? "side-item-active" : "")" @onclick="() => setActiveItem(0)">
        <span class="material-symbols-rounded">
            design_services
        </span>
        <h2 class="p-2 text-lg px-7 text-grey-500 my-2">Icon</h2>
    </div>
    <div class="flex items-center gap-2 cursor-pointer hover:bg-bl-primary hover:text-white px-7
        @((activeItem == 1)? "side-item-active" : "")" @onclick="() => setActiveItem(1)">
        <span class="material-symbols-rounded">
            add_photo_alternate
        </span>
        <h2 class="p-2 text-lg px-7 text-grey-500 my-2">Background</h2>
    </div>
    <div class="flex items-center gap-2 cursor-pointer hover:bg-bl-primary hover:text-white px-7
        @((activeItem == 2)? "side-item-active" : "")" @onclick="() => setActiveItem(2)">
        <span class="material-symbols-rounded">
            award_star
        </span>
        <h2 class="p-2 text-lg px-7 text-grey-500 my-2">Upgrade</h2>
    </div>
</div>